.Word {
    z-index: -1;
    position: relative;
    display:flex;
    margin: 8% auto;
    justify-content: center; 
    align-items: center;             
}

span {
    font-size: 200px;
    font-family: Verdana;
    /* font-weight:bold; */

}

.instructions {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    background-size: 100%;
    text-align: center;
}